body {
/*  background-color: #222222;*/
    font-family: "Open Sans", "Lato", sans-serif;
}


.action-button {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 4px solid #7E6065;
  border-radius: 10%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  word-wrap: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  background-color: pink;
  color: black;
}

.action-button:hover {
/*  color: white;
  transition: color 1.5s;*/
  background-color: mediumorchid;
  transition: background-color 3s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cat-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.progress-border {
  width: 500px;
  height: 25px;
  border: solid #000000 3px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar {
  display: inline-block;
  height: 25px;
  transition: width 0.5s, background-color 0.5s;
  width: 500px;
  text-align: center;
  font-size: 55px;
  font-family: courier;
}

#health-bar {
  background-color: #00ff00;
}

/* Quote-specific pages */

.cat-container-quote {
    flex-basis: 50%;
    padding: 10px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.quote-container {
    flex-basis: 50%;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #88888866;
    text-align: center;
    font-family: "Open Sans", "Lato", sans-serif;
    font-weight: bold;
    font-size: 32px;
    position: fixed;
    top: 30.2%;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles for other buttons at the bottom */

.other-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.other-button {
    display: inline-block;
    background-color: paleturquoise;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 0.5em;
    border: 2px solid black;
    cursor: pointer;
}

.other-button:hover {
    background-color: darkturquoise;
}

