.title-centered {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
  
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.progress-border {
  width: 500px;
  height: 25px;
  border: solid #000000 3px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.progress-bar {
  display: inline-block;
  height: 25px;
  transition: width 0.5s, background-color 0.5s;
  width: 500px;
  text-align: center;
  font-size: 55px;
  font-family: courier;
}

#total-health {
  text-align: center;
  font-size: 30px;
  font-family: courier;
}

#speech-bubble {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #999;
  max-width: 200px; /* Set the maximum width of the speech bubble */
  white-space: nowrap; /* Prevent the text from wrapping to a new line */
}

#speech-bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  transform: rotate(-45deg) skewX(15deg);
}