.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cat-gif {
    margin-left: 90px;
    height: 450px;
}

#startup-text {
    font-family: 'Open Sans', sans-serif;
}

.expand-button {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    background-color: pink;
    border: none;
    border-radius: 50%;
    transition: all 3s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
  